video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
}

.red{
    background: black;
    height:500px;
    width: 300px;
    margin-right: 20px;
    display: inline-block;
    padding: 20px;
    margin-top: 30px;
    transition: 0.4s;
}

.red:hover{
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
}

.imageShop{
    width: 100%;
    height: auto;
}

.shopList{
    display: inline;
}
.containt {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .containt {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .containt {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .containt {
        width: 1350px;
    }
}
.footer{
    background-color: black;
}
footer h2{
    font-size: 25px;
}
.socialmedia{
    margin-top: 50px;
}
.socialmedia a{
    color: white;
}
.socialmedia a:hover{
    color: yellow;
    text-decoration: none;
}

.socialmedia ul{
    margin-left:8px;
    padding-left:8px;
}

.socialmedia ul li {
    list-style-type: none;
    margin-top: 10px;

}

#facebook{
    border-radius: 30px;
    border: 2px solid darkgrey;
    width: 20%;
    padding: 10px;
    text-align: center;
    background: #262626;
    display: inline-block;
    transition: 0.5s;
}
#twitter{
    border-radius: 30px;
    border: 2px solid darkgrey;
    width: 20%;
    padding: 10px;
    text-align: center;
    background: #262626;
    display: inline-block;
    transition: 0.5s;
}
#insta{
    border-radius: 30px;
    border: 2px solid darkgrey;
    width: 20%;
    padding: 10px;
    text-align: center;
    background: #262626;
    display: inline-block;
    transition: 0.5s;
}
#twitter:hover{
    border: transparent;
    background: transparent;
}
#insta:hover{
    border: transparent;
    background: transparent;
}
#facebook:hover{
    border: transparent;
    background: transparent;
}
#legalmention{
    margin-top: 150px;
}
#legalmention ul li {
    display: inline;
    margin-left: 20px;
    color: grey;
}
#legalmention ul li a {
    color: grey;
}
#legalmention a:hover{
    text-decoration: none;
    color: yellow;
}
.subscribe{
    background: white;
    min-height: 500px;
    border-radius: 10px;
    margin-top: 20px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.subscribe h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bolder;
}
.subscribe ul li {
    list-style-type: none;
    font-weight: bold;
}
.subscribe p {
    text-align: right;
    margin-right: 10%;
}


/* Back to top */


.scrollToTop{
    width:68px;
    height:182px;
    padding:10px;
    text-align:center;
    background-image: url('../img/totopfront.png');
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:600px;
    right:40px;
    display:none;
}
.scrollToTop:hover{
    background-image: url('../img/totop.png');
}

@media screen and (max-width: 640px) {
    .subscribe h2 {
        padding-top: 20px;
    }
}

.subscribe:hover, .subscribe:focus, .subscribe:active {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.price{
    font-size: 34px;
    font-weight: bolder;
    text-align: right;
}
.disactived{
    color: grey;
}
.warned{
    z-index: 10;
    position: absolute;
    text-align: center;
}
.formulaire{
    background-color: black;
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
}
.form-group input{
    margin-bottom : 10px;
}
.form-group .radio{
    display: inline;
}
.btn-co{
    background-color: #e0e422;
    color: black;
    border:  #e0e422;
    height: 50px;
}
.btn-co:focus{
    background-color: #e0e422;
    color: black;
    border:  #e0e422;
}
.btn-inscrit:focus{
    background-color: #e0e422;
    color: black;
    border:  #e0e422;
}

.btn-inscrit{
    background-color: #e0e422;
    color: black;
    border:  #e0e422;
    width: 100%;
    margin-top: 15px;
}
.btn-primary:hover{
    background-color: #bdc11d;
    color: black;
    border:  #bdc11d;
}
.btn-co:hover{
    background-color: #bdc11d;
    color: black;
    border:  #bdc11d;
}
.btn-co:active:hover,
.btn-co.active:hover,
.open > .dropdown-toggle.btn-co:hover,
.btn-co:active:focus,
.btn-co.active:focus,
.open > .dropdown-toggle.btn-co:focus,
.btn-co:active.focus,
.btn-co.active.focus,
.open > .dropdown-toggle.btn-co.focus {
    color: #00000;
    background-color: #bdc11d;
    border-color: #bdc11d;
}
.btn-inscrit:active:hover,
.btn-inscrit.active:hover,
.open > .dropdown-toggle.btn-inscrit:hover,
.btn-inscrit:active:focus,
.btn-inscrit.active:focus,
.open > .dropdown-toggle.btn-inscrit:focus,
.btn-inscrit:active.focus,
.btn-inscrit.active.focus,
.open > .dropdown-toggle.btn-inscrit.focus {
    color: #00000;
    background-color: #bdc11d;
    border-color: #bdc11d;
}
.well{
    background-color: black;
}



/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/


body {
    position: relative;
    overflow-x: hidden;
}

.nav .open > a { background-color: transparent; }

.nav .open > a:hover { background-color: transparent; }

.nav .open > a:focus { background-color: transparent; }

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled { padding-left: 300px; }

#wrapper.toggled #sidebar-wrapper { width: 300px; }

#wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    position: absolute;
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #1a1a1a;
    height: 100%;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#page-content-wrapper {
    width: 100%;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 500px;
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li:before {
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -webkit-transition: width 0.2s ease-in;
    background-color: #1c1c1c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-nav li:first-child a {
    background-color: #1a1a1a;
    color: #ffffff;
}

.sidebar-nav li:nth-child(2):before { background-color: #eff809; }

.sidebar-nav li:nth-child(3):before { background-color: #f0f81a; }

.sidebar-nav li:nth-child(4):before { background-color: #f1f92a; }

.sidebar-nav li:nth-child(5):before { background-color: #f2f93b; }

.sidebar-nav li:nth-child(6):before { background-color: #f3fa4b; }

.sidebar-nav li:nth-child(7):before { background-color: #f4fa5c; }

.sidebar-nav li:nth-child(8):before { background-color: #f6fb6c; }

.sidebar-nav li:nth-child(9):before { background-color: #f7fb7d; }

.sidebar-nav li:nth-child(10):before { background-color: #f8fc8d; }

.sidebar-nav li:hover:before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}

.sidebar-nav li.open:hover before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    background-color: transparent;
    color: black;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 15px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 999;
}

.hamburger:hover { outline: none; }

.hamburger:focus { outline: none; }

.hamburger:active { outline: none; }

.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #000;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 0;
}

.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #dacd20;
    top: 5px;
}

.hamburger.is-closed .hamb-middle {
    background-color: #dacd20;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #dacd20;
    bottom: 5px;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #dacd20;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open .hamb-middle {
    background-color: #dacd20;
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    background-color: #dacd20;
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
/* Profil */
.album {
    height: 266px;
    margin-bottom: 20px;
}
.info {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)

}
.overview:hover .album {
    opacity: 0.3;
}
.overview:hover .info {
    opacity: 1;
}
.text {
    color: white;
    font-size: 16px;
    display: inline-block;
}
.text a {
    color: white;
    font-size: 30px;
    margin-left: 25px;
    margin-right: 25px;
}
.text a:hover{
    font-size: 41px;
}
.plus {
    height: 100px;
    position: absolute;
    top: 90px;
    left: 120px;
}
.overview:hover .plus {
    opacity: 0.3;
}
.fondperso{
    height: 160px;
    background: darkgreen;
}
.avatar{
    height: 150px;
    border-radius: 100px;
    background-color: white;
    position: absolute;
    top: 120px;
    left: 850px;
    border: 3px darkgray solid;
    justify-content: center !important;
}
.modal-dialog{
    width: 55%;
}
.subs{
    margin-top: 50px;
    background-color: #d7ca19;
    transition: 0.5s;
}
.subs:hover{
    background: #ded449;
}
.subs p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.contenair{
    min-height: 800px;
}
.backassward{
    background: red;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: bold;
}

.mailconfi{
    background: blue;
    text-align: center;
}



h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}


/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

audio{
    width: 100%;
}

h3 { 
    font-size: 28px;
    margin: 0 0 -10px;
}

h3, h4 { 
    font-family: 'Raleway', sans-serif;
    padding: 15px 0;
    font-weight: 200;
    color: white;
}

.music-player {
    width: 300px;
    margin: 50px auto 0;
    text-align: center;
    background: #2B2C2C;
    position: relative;
    top: 400px;
}

.music-player img { 
    margin: 10% auto;
}

.player-button {
    background:none;
    border:0;
    line-height:1;
    color:white;
    text-align: center;
    outline:0;
    padding: 0;
    cursor:pointer;
    max-width:50px;
    margin: 0 10px;
    vertical-align: middle;
}



.progress {
    margin-top: 20px;
    flex:10;
    position: relative;
    display:flex;
    flex-basis:100%;
    height:5px;
    background:rgba(0,0,0,0.5);
}

.progress-filled {
    width:50%;
    background:white;
    flex:0;
    flex-basis:0%;
}

.circle {
    height: 200px;
    width: 200px;
    position: relative;
    background: lavender;
    border-radius: 50%;
    margin: 0 auto;
}

#floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #f9a825;
    position: relative;
    bottom: 30%;
    left: 80%;
}

.plus{
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 38px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;

}

#container-floating{
    position: relative;
    top: 0px;
    right: 5%;
    z-index: 50;
}

#container-floating-rate{
    position: relative;
    top: 0px;
    left: 95%;
    z-index: 50;
}

#floating-button-rate{
    border-radius: 50%;
    background: #1e88e5;
    position: relative;
    bottom: 30%;
    left: 100%;
}
.explicit{
    color: yellow;
    border: 1px yellow dotted;
    padding: 5px;
    border-radius: 9px;
    text-align: center;
}
audio{
    width: 100%;
}





/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


.card h2 {
    color: yellow;
    font-weight: 800;
    font-size: 32px;
    margin: 10px 0;
}
.card h5 {
    margin: 0;
}
.card p {
    margin: 10px 0;
}
.card {
    margin: 20px auto;
    display: block;
    background: #151515;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    max-width: 800px;
    min-height: 200px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.card:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.card .card-stuff {
    width: 80%;
    padding: 20px 40px;
    padding-right: 75px;
    transition: 0.3s ease-in-out;
    color: white;

}
.card a:hover {
    text-decoration: none;
}
.card .card-stuff time {
    float: right;
    position: relative;
    top: -25px;
    font-size: 12px;
}
.card .card-stuff.active {
    width: 60%;
}
.card .com-contain {
    overflow: hidden;
    position: absolute;
    padding-top: 40px;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background: #408bc8;
    box-shadow: inset 2px 0px 3px rgba(0, 0, 0, .2);
    transition: 0.3s all cubic-bezier(0.75, 0.03, 0.41, 1.4);
}
.card .com-contain:hover {
    transition: 0.3s all cubic-bezier(0.75, 0.03, 0.41, 1.4);
    background: #357eb9;
    box-shadow: inset 2px 0px 3px rgba(0, 0, 0, .2), inset -3px 0px #3276ad;
}
.card .com-contain.active {
    width: 30%;
    max-width: 300px;
}
.card .com-contain.active:hover {
    background: #408bc8;
    box-shadow: inset 2px 0px 3px rgba(0, 0, 0, .2), inset -3px 0px #3276ad;
}
.card .com-contain.active .com-stuff {
    transform: translateX(0);
    transition-delay: 0.3s;
}
.card .com-contain.active .com-desc {
    transform: translateX(300px) rotate(90deg);
    transition-delay: 0s;
}
.card .com-contain.active .com-expand {
    background: rgba(0, 0, 0, 0);
    perspective: 1000;
}
.card .com-contain.active .com-expand:before {
    transform: rotate(135deg);
    transform-origin: 50% 50%;
    top: 0;
    left: 0;
    width: 25px;
    background: #bfddf2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
}
.card .com-contain.active .com-expand:after {
    transform: rotate(-495deg);
    transform-origin: 50% 10%;
    top: 0;
    left: 0;
    width: 25px;
    background: #bfddf2;
}
.com-expand-holder {
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    width: 40px;
    cursor: pointer;
    margin-top: 10px;
    padding-top: 10px;
    z-index: 99;
}
.com-expand-holder:hover .com-expand, .com-expand-holder:hover .com-expand:before, .com-expand-holder:hover .com-expand:after {
    transition: 0.3s all ease-out;
    background: #24567e;
}
.com-expand {
    width: 25px;
    height: 4px;
    display: block;
    background: white;
    margin: 0 auto;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
}
.com-expand:before, .com-expand:after {
    content: '';
    background: white;
    width: 15px;
    height: 4px;
    position: relative;
    display: block;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
}
.com-expand:before {
    top: -3px;
    transform: rotate(-30deg);
}
.com-expand:after {
    top: 0px;
    transform: rotate(30deg);
}
.com-stuff {
    color: #fff;
    font-size: 14px;
    padding: 20px;
    transform: translateX(-300px);
    transition: 0.3s all cubic-bezier(0.36, 0.49, 0.26, 1.27);
}
.com-stuff p {
    margin-top: 0px;
}
.com-desc {
    transform: rotate(90deg);
    position: absolute;
    top: 90px;
    left: 0;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    transform-origin: 23% 50%;
    width: 100px;
    transition: 0.3s all cubic-bezier(0.36, 0.49, 0.26, 1.27);
    transition-delay: 0.3s;
}
.chart img{
    object-fit: cover;
}

.addPartyButton{
    padding-bottom : 20px;
    padding-top : 20px;
    color: black;
    background-color: yellow;
}

.addPartyButton  a{
    color: black;
}
.success{
    position: fixed;
    top:835px;
    left: 0;
    border: 0px solid transparent;
}

select{
    color:black;
}

.gamingCard{
    background-image: url('../img/ffdp-fb.jpg');
    background-size: cover;
}

.houseCard{
    background-image: url('../img/lowerthebar.jpg');
    background-size: cover;
}

.birthdayCard{
    background:red;
    background-size: cover;
}
.menunav{
    overflow: scroll;
}

.pageError{
    object-fit: cover;
}

.lien {
    text-decoration: none;
    color: lightblue;
}

th{
    font-size: 24px;
}
.gender1{
    background: red;
    height: 285px;
}
.gender2{
    background: lightcoral;
    height: 285px;
}
.gender3{
    background: lightsalmon;
    height: 285px;
}
.gender4{
    background: lightslategrey;
    height: 285px;
}

/* Hover.css*/

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.hvr-icon-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal:before {
    content: "\f061";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover:before, .hvr-icon-wobble-horizontal:focus:before, .hvr-icon-wobble-horizontal:active:before {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}